IMAGE_TAG=
FRONTEND_BIND_ADDRESS=127.0.0.1

MYSQL_ROOT_PASSWORD=
MYSQL_USER=c2c_monitor
MYSQL_PASSWORD=

C2C_APP_ADMIN_TOKEN=

SMTP_HOST=smtp.qq.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM=
